# Pipelines

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.pipeline import Pipeline

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.preprocessing import FunctionTransformer

In [6]:
import transformers

In [7]:
import types

In [8]:
import category_encoders as ce

In [9]:
# %pip install category_encoders

In [10]:
pd.set_option('display.max_rows', 1000)

In [11]:
pd.set_option('display.max_columns', 1000)

In [12]:
df = pd.read_csv('../data/Google_Stock_Price_Train.csv')

In [13]:
df

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [14]:
stock_pipeline = Pipeline(transformers.get_transformer_func_list())

In [15]:
df = stock_pipeline.transform(df)

In [16]:
# def set_future_day_value(dataframe, column: str, future_distance: int):
#     for future_cell_index in range(0, len(dataframe) - future_distance - 1):
#         print(future_cell_index - future_distance)
#         df.loc[future_cell_index - future_distance,f'{column}_in_{future_distance}_days'] = df.loc[future_cell_index, column]

In [17]:
# for distance in range(1, 30):
#     set_future_day_value(df, 'Close', distance)

In [18]:
# df.head(100)

In [19]:
# df.tail(100)

In [20]:
categories_features = ['Volatility_group','Day_of_week']

In [21]:
categories_pipe = Pipeline([
    ('onehot',ce.OneHotEncoder(cols=categories_features, use_cat_names=True, handle_unknown='return_nan'))])

In [22]:
df = categories_pipe.fit_transform(df)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1258 entries, 0 to 1257
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Open                                1258 non-null   float64
 1   High                                1258 non-null   float64
 2   Low                                 1258 non-null   float64
 3   Close                               1258 non-null   float64
 4   Volume                              1258 non-null   float64
 5   Volatility                          1258 non-null   float64
 6   Day_of_week_1.0                     1258 non-null   float64
 7   Day_of_week_2.0                     1258 non-null   float64
 8   Day_of_week_3.0                     1258 non-null   float64
 9   Day_of_week_4.0                     1258 non-null   float64
 10  Day_of_week_0.0                     1258 non-null   float64
 11  Volatility_group_Low                1258 non-null   float64
 12  Volatility_group_Medium             1258 non-null   float64
 13  Volatility_group_High               1258 non-null   float64
 14  Close_in_1_days                     1257 non-null   float64
 15  Close_in_6_days                     1252 non-null   float64
 16  Close_in_11_days                    1247 non-null   float64
 17  Close_in_16_days                    1242 non-null   float64
 18  Close_in_21_days                    1237 non-null   float64
 19  Close_in_26_days                    1232 non-null   float64
 20  Close_30_moving_avarage             1229 non-null   float64
 21  Is_close_below_30_moving_avarage    1258 non-null   int32
 22  Is_close_above_30_moving_avarage    1258 non-null   int32
 23  Days_close_below_30_moving_avarage  1258 non-null   int32
 24  Days_close_above_30_moving_avarage  1258 non-null   int32
dtypes: float64(21), int32(4)
memory usage: 235.9 KB

In [26]:
df.isnull().sum()

Open                                   0
High                                   0
Low                                    0
Close                                  0
Volume                                 0
Volatility                             0
Day_of_week_1.0                        0
Day_of_week_2.0                        0
Day_of_week_3.0                        0
Day_of_week_4.0                        0
Day_of_week_0.0                        0
Volatility_group_Low                   0
Volatility_group_Medium                0
Volatility_group_High                  0
Close_in_1_days                        1
Close_in_6_days                        6
Close_in_11_days                      11
Close_in_16_days                      16
Close_in_21_days                      21
Close_in_26_days                      26
Close_30_moving_avarage               29
Is_close_below_30_moving_avarage       0
Is_close_above_30_moving_avarage       0
Days_close_below_30_moving_avarage     0
Days_close_above_30_moving_avarage     0
dtype: int64

In [27]:
df.describe()

,Open,High,Low,Close,Volume,Volatility,Day_of_week_1.0,Day_of_week_2.0,Day_of_week_3.0,Day_of_week_4.0,Day_of_week_0.0,Volatility_group_Low,Volatility_group_Medium,Volatility_group_High,Close_in_1_days,Close_in_6_days,Close_in_11_days,Close_in_16_days,Close_in_21_days,Close_in_26_days,Close_30_moving_avarage,Is_close_below_30_moving_avarage,Is_close_above_30_moving_avarage,Days_close_below_30_moving_avarage,Days_close_above_30_moving_avarage
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1257.000000,1252.000000,1247.000000,1242.000000,1237.000000,1232.000000,1229.000000,1258.000000,1258.000000,1258.000000,1258.000000
mean,533.709833,537.880223,529.007409,712.669666,3.158107e+06,8.872814,0.205087,0.205087,0.201113,0.200318,0.188394,0.334658,0.332273,0.333068,712.708711,712.987827,713.333817,713.827593,714.385667,714.850771,712.938298,0.385533,0.614467,3.683625,11.122417
std,151.904442,153.008811,150.552807,164.752591,2.273726e+06,5.475400,0.403926,0.403926,0.400992,0.400397,0.391182,0.472058,0.471216,0.471498,164.812341,165.077806,165.317888,165.459604,165.559995,165.733278,159.627851,0.486914,0.486914,6.873680,15.194762
min,279.120000,281.210000,277.220000,491.200000,7.900000e+03,1.830000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,491.200000,491.200000,491.200000,491.200000,491.200000,491.200000,513.435333,0.000000,0.000000,0.000000,0.000000
25%,404.115000,406.765000,401.765000,576.740000,1.621700e+06,5.352500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,576.650000,576.340000,576.195000,576.152500,576.280000,575.892500,577.849333,0.000000,0.000000,0.000000,0.000000
50%,537.470000,540.750000,532.990000,695.675000,2.566150e+06,7.425000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,695.700000,696.200000,697.460000,697.770000,698.210000,699.030000,706.950667,0.000000,1.000000,0.000000,4.000000
75%,654.922500,662.587500,644.800000,782.105000,4.122500e+06,10.670000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,782.220000,782.460000,782.655000,782.955000,783.070000,783.220000,779.089667,1.000000,1.000000,5.000000,18.000000
max,816.680000,816.680000,805.140000,1216.830000,2.497790e+07,54.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1216.830000,1216.830000,1216.830000,1216.830000,1216.830000,1216.830000,1199.119667,1.000000,1.000000,43.000000,70.000000